In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv('ernakulam.csv')

In [5]:
data

     Year  Month   Rain  Humidity  Temperature  Pressure  Flood
0    1981      1    4.5     14.81        27.68    100.67      0
1    1981      2    4.8     14.43        30.12    100.56      0
2    1981      3   25.3     16.52        31.38    100.47      0
3    1981      4   68.2     18.64        30.71    100.35      1
4    1981      5  158.9     18.96        28.82    100.26      1
..    ...    ...    ...       ...          ...       ...    ...
451  2018      8  402.4     16.54        33.61     99.47      0
452  2018      9   24.2     16.17        34.46     99.51      0
453  2018     10    8.7     15.75        35.17     99.60      0
454  2018     11    5.8     14.53        35.11     99.63      0
455  2018     12   27.8     13.10        35.90     99.69      0

[456 rows x 7 columns]

In [6]:
X = data.drop('Flood', axis=1)
y = data['Flood']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [9]:
y_pred = model.predict(X_test)

In [10]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9891304347826086

In [25]:
new_data = pd.read_csv('input_Eranakulam.csv')

In [26]:
new_data

    Year  Month   Rain  Humidity  Temperature  Pressure
0   2018      1  250.5     18.21        37.50     99.75
1   2018      2  180.3     19.64        39.28     99.63
2   2018      3  320.9     20.73        40.12     99.56
3   2018      4  450.6     22.46        39.89     99.47
4   2018      5  520.8     23.12        38.75     99.45
5   2018      6  650.4     22.88        36.95     99.45
6   2018      7  550.2     22.36        35.72     99.45
7   2018      8  530.1     22.36        35.59     99.53
8   2018      9  400.7     21.92        36.15     99.57
9   2018     10  320.2     20.34        36.88     99.66
10  2018     11  240.1     19.11        36.92     99.69
11  2018     12  180.6     17.68        37.84     99.75

In [27]:
predictions = model.predict(new_data)

In [28]:
print(predictions)

[0 0 0 0 0 0 0 0 0 0 0 0]

In [29]:
import joblib
joblib.dump(model, 'Eranakulam.pkl')

['Eranakulam.pkl']