In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data

     Year  Month    Rain  Humidity  Temperature  Pressure  Flood
0    1981      1     7.0     14.71        27.72    100.68      1
1    1981      2     6.8     14.28        30.08    100.57      1
2    1981      3    28.5     16.36        31.55    100.47      1
3    1981      4    75.9     18.55        30.81    100.35      1
4    1981      5   166.3     18.86        28.93    100.26      1
..    ...    ...     ...       ...          ...       ...    ...
451  2018      8  1398.9     18.74        25.72    100.42      1
452  2018      9   423.6     18.19        26.87    100.42      1
453  2018     10   356.1     18.37        27.52    100.47      1
454  2018     11   125.4     17.82        27.79    100.53      1
455  2018     12    65.1     16.78        27.85    100.58      1

[456 rows x 7 columns]

In [3]:
X = data.drop('Flood', axis=1)
y = data['Flood']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [6]:
y_pred = model.predict(X_test)

In [7]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6847826086956522

In [8]:
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 68.48

In [9]:
new_data = pd.read_csv('input_Alapuzha.csv')

In [11]:
new_data

    Year  Month   Rain  Humidity  Temperature  Pressure
0   1981      1    7.0     14.71        27.72    100.68
1   1981      2    6.8     14.28        30.08    100.57
2   1981      3   28.5     16.36        31.55    100.47
3   1981      4   75.9     18.55        30.81    100.35
4   1981      5  166.3     18.86        28.93    100.26
5   1981      6  912.4     18.37        26.52    100.32
6   1981      7  489.8     18.55        26.01    100.31
7   1981      8  495.6     18.37        25.93    100.37
8   1981      9  376.6     18.43        26.05    100.32
9   1981     10  265.0     18.01        26.75    100.44
10  1981     11  138.6     17.09        26.59    100.46
11  1981     12   43.3     15.56        26.98    100.67

In [10]:
predictions = model.predict(new_data)

In [11]:
print(predictions)

[0 0 0 0 0 0 0 0 0 0 0 0]

In [12]:
import joblib

In [13]:
joblib.dump(model, 'alapuzha.pkl')

['alapuzha.pkl']